#All-Course {
  .min-course {
    border-top: solid red;
    padding: 10px;
    margin: 0px;
    background-color: #00a7d0;
    cursor: pointer;
    font-size: x-large;
  }

  .page-dev {
    //padding: 10px;
    background-color: #00c0ef;
  }
}

/*end of All-Course*/